{% extends "index.html" %}
{% block content %}
<br>
<br>
<div class="container" text-align="center">
<h1 class="abt1"> About</h1>
<div login-form1>
 <h4 class="abt">Now a days India is majorly facing parking problems. The prime reason is that the user is unaware of the
        proper parking scenario. By this module, we can solve this problem by providing the user with an information about
        the closest parking spot using GPS. The information of all the parking spots is provided to this module using crowd
        sourcing(obtain by enlisting the services of a large number of people, either paid or unpaid, typically via the
        Internet.). Also the data sets can be collected from RTO, BMC and other government agencies as a future scope of
        this project. There will be a poll option given for each parking spot to verify whether the information is authentic or
        not , ones having more number of likes indicate an authentic spot and the ones which are disliked are ruled out.</h4></div>
</div>
{% endblock %}