{% extends "index.html" %}

{% block content %}
<br> <br> <br>

<table class="table">
  <caption id="data" class="header"><h2>ACTIVE USER'S</h2></caption>
        <thead id="data1">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email Id</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        
          
       


{% for i in usermodel %}
<tbody id="data1">
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{i["Username"]}}</td>
          <td>{{i["Emailid"]}}</td>
          <td>{{i["phone"]}}</td>
        </tr>
      </tbody>
<!--
	<p> {{i["Username"]}}</p>
	<p> {{i["Emailid"]}}</p>
	<p> {{i["phone"]}}</p>
	<br>
-->


{% endfor %}

</table>

{% endblock %}