{% extends "index.html" %}

{% block content %}


<form method="POST" action="{{ url_for('db_comp')}}">
<table class="table">
  
  <br>
  <br>
  <caption class="header" id="data"><h2>COMPANY DATASETS</h2></caption>
  
  <thead>
				<tr>
				  <th scope="col"></th>
				  <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
				  <th scope="col">
            <a href="/create"><button type="button" id="showModal" class="btn btn-success submit-btn">Create</button></a> </th> 
				</tr>
        </thead>
   
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category </th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Likes</th>
            <th scope="col">Dislikes</th>
            <th scope="col">Delete </th>
          </tr>
        </thead>
        
          
      


{% for i in payandpark %}
<tbody>
    
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{i["properties"]["name"]}}</td>
          <td>{{i["properties"]["category"]}}</td>
          <td>{{i["properties"]["latitude"]}}</td>
          <td>{{i["properties"]["longitude"]}}</td>
          <td>{{i["properties"]["likes"]}}</td>
          <td>{{i["properties"]["dislikes"]}}</td>
          <td><button type="submit" class="btn btn-danger" name="del"  value= "{{i['_id']['$oid']}}" >Delete</button>
          </td>
        </tr>
        
      </tbody>
<!--
	<p> {{i["Username"]}}</p>
	<p> {{i["Emailid"]}}</p>
	<p> {{i["phone"]}}</p>
	<br>
-->


{% endfor %}

</table>
</form>
<!-- 
<script>
    setTimeout(db(){
        window.location.href = "{{url_for('db_comp')}}";
    }, 2000);
</script> -->

{% endblock %}
