{% extends "index.html" %}


    

	



{% block content %}
<br> <br> <br>
<form action="{{ url_for('db_user')}}" method="POST">
<table class="table">
  
    <caption class="header" id="data"><h2>USER DATASETS</h2></caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category </th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Likes</th>
            <th scope="col">Dislikes</th>
            <th scope="col">Delete </th>
          </tr>
        </thead>
        
          
       


{% for i in fromuser %}
<tbody>
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{i["properties"]["name"]}}</td>
          <td>{{i["properties"]["category"]}}</td>
          <td>{{i["properties"]["latitude"]}}</td>
          <td>{{i["properties"]["longitude"]}}</td>
          <td>{{i["properties"]["likes"]}}</td>
          <td>{{i["properties"]["dislikes"]}}</td>
          <td><button type="submit" name ="loop" value="{{i['_id']['$oid']}}" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
<!--
	<p> {{i["Username"]}}</p>
	<p> {{i["Emailid"]}}</p>
	<p> {{i["phone"]}}</p>
	<br>
-->


{% endfor %}

</table>
</form>
{% endblock %}
